<div class="p-3">
  <h1 class="text-xl font-bold">No frameworks</h1>
  <a class="hover:underline" target="_blank" [routerLink]="['quotes']"
    >Quote Generator</a
  >

  <h1 class="text-xl font-bold">Pages</h1>
  <a class="hover:underline" target="_blank" href="https://realtors.vercel.app/"
    >Realtors</a
  >
  <br />
  <a class="hover:underline" target="_blank" [routerLink]="['vercel']"
    >Vercel Dashboard</a
  >
  <br />
  <a class="hover:underline" target="_blank" [routerLink]="['chat']">Chat</a>

  <h1 class="text-xl font-bold">Projects</h1>
  <a class="hover:underline" target="_blank" [routerLink]="['medium']"
    >Medium Clone</a
  >
  <br />
  <a
    class="hover:underline"
    target="_blank"
    href="https://angular-components-eight.vercel.app/"
    >Angular Components</a
  >
</div>
